src/main/mule/mule-app-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
    <http:listener-config name="mule-app-cicd-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="mule-app-cicd-config" api="resource::09bb754b-64d7-4f61-9a1a-79e3edf235eb:mule-app-cicd:1.0.0:raml:zip:mule-app-cicd.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="c7ba7152-f6ba-4f31-a73c-d07f7a52796d" >
		<db:my-sql-connection host="${database.host}" port="${database.port}" user="${database.username}" password="${database.password}" database="${database.database}"/>
	</db:config>
	<configuration-properties doc:name="Configuration properties" doc:id="62378266-e8c6-4f6b-8bf0-bd4b580224fe" file="db-config.yaml" />
	<flow name="mule-app-cicd-main">
        <http:listener config-ref="mule-app-cicd-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mule-app-cicd-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="mule-app-cicd-console">
        <http:listener config-ref="mule-app-cicd-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mule-app-cicd-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\students\(student_id):application\json:mule-app-cicd-config">
        <http:listener doc:name="Listener" doc:id="38dcfd2d-5356-4f85-9e59-d0bcf74ea832" config-ref="mule-app-cicd-httpListenerConfig" path="/update"/>
		<db:update doc:name="Update" doc:id="57728772-c9d1-49f3-9133-9219b4e334ef" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE student
      SET name = :name,
          email = :email,
          phone_number = :phone_number,
          address = :address
      WHERE student_id = :student_id]]></db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/json
---
{
    name: payload.name,
    email: payload.email,
    phone_number: payload.phone_number,
    address: payload.address,
    student_id: attributes.uriParams.student_id
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="student_id">attributes.uriParams.'student_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\students\(student_id):application\json:mule-app-cicd-config" />
    </flow>
    <flow name="delete:\students\(student_id):mule-app-cicd-config">
        <http:listener doc:name="Listener" doc:id="558c2665-50ac-40e6-9161-d1002ce462a7" config-ref="mule-app-cicd-httpListenerConfig" path="/delete"/>
		<db:delete doc:name="Delete" doc:id="e305bc06-7967-4240-89b7-6a298cf758ee" config-ref="Database_Config">
			<db:sql ><![CDATA[DELETE FROM student WHERE student_id = :student_id
]]></db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/json
---
{
	student_id:attributes.uriParams.id
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="student_id">attributes.uriParams.'student_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\students\(student_id):mule-app-cicd-config" />
    </flow>
    <flow name="get:\students:mule-app-cicd-config">
        <http:listener doc:name="Listener" doc:id="639e1fcd-b400-485e-a8ef-5a2697084f34" config-ref="mule-app-cicd-httpListenerConfig" path="/all-students"/>
		<db:select doc:name="Select" doc:id="a78738b9-2e5c-4bdb-8e81-d1b850cba665" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM student;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    student_id: 1,
    name: "Ravi Kumar",
    email: "ravi.kumar@example.com",
    phone_number: "9876543210",
    address: "Hyderabad, Telangana"
  }, 
  {
    student_id: 2,
    name: "Priya Sharma",
    email: "priya.sharma@example.com",
    phone_number: "9988776655",
    address: "Mumbai, Maharashtra"
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <!-- [STUDIO:"get:\students\(student_id):mule-app-cicd-config"]<flow name="get:\students\(student_id):mule-app-cicd-config">
        <http:listener doc:name="Listener" doc:id="d59ff516-e21e-4690-a6a9-ecb0498efa40" config-ref="mule-app-cicd-httpListenerConfig" path="/get-particular"/>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="student_id">attributes.uriParams.'student_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
  student_id: 1,
  name: "Ravi Kumar",
  email: "ravi.kumar@example.com",
  phone_number: "9876543210",
  address: "Hyderabad, Telangana"
} as Object {encoding: "UTF-8", mediaType: "application/json"}&#93;&#93;></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow> [STUDIO] -->
    <flow name="post:\students:application\json:mule-app-cicd-config">
        <http:listener doc:name="Listener" doc:id="bf9a8235-94b4-440a-a1ca-53c50077cad0" config-ref="mule-app-cicd-httpListenerConfig" path="/insert"/>
		<db:insert doc:name="Insert" doc:id="8b9094f6-9775-4632-9f57-709aea253461" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO student (name, email, phone_number, address)
VALUES (:name, :email, :phone_number, :address)
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	name : payload.name,
	email : payload.email,
	phone_number : payload.phone_number,
	address: payload.address,
	
}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" message="post:\students:application\json:mule-app-cicd-config" />
    </flow>
</mule>
